In [10]:
# import the needed packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# import the dataset
data = pd.read_csv("./GG3 finals python dataset stackoverflow.csv")
data.head(2)

,question_id,question_owner_user_id,question_owner_location,question_title,question_body,question_created_date,question_score,question_tag,answer_id,answerer_user_id,answer_created_date,answer_score,answer_comment_count,is_accepted_answer
0,27733458,3769827.0,NaN,SQL script to get time to response in log table,<p>I have one scenario which I really have no ...,2015-01-01 18:31:22.693000 UTC,1,bq,27787398.0,1371484.0,2015-01-05 20:30:31.057000 UTC,1.0,1.0,False
1,27734669,2238969.0,NaN,Httparchive - BigQuery how to get median bytes...,<p>I am currently writing my bachelor theses a...,2015-01-01 21:04:30.070000 UTC,0,bq,27751284.0,3624307.0,2015-01-03 02:56:46.553000 UTC,1.0,2.0,False

# EDA & Data Preparation
Exploring the dataset to check the data characteristic and preparing the dataset to make the analysis better

In [3]:
# check the data column existed, data type of each column, and the null value existed in each column
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6795 entries, 0 to 6794
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   question_id              6795 non-null   int64
 1   question_owner_user_id   6761 non-null   float64
 2   question_owner_location  2770 non-null   object
 3   question_title           6795 non-null   object
 4   question_body            6795 non-null   object
 5   question_created_date    6795 non-null   object
 6   question_score           6795 non-null   int64
 7   question_tag             6795 non-null   object
 8   answer_id                6393 non-null   float64
 9   answerer_user_id         6385 non-null   float64
 10  answer_created_date      6393 non-null   object
 11  answer_score             6393 non-null   float64
 12  answer_comment_count     6393 non-null   float64
 13  is_accepted_answer       6795 non-null   bool
dtypes: bool(1), float64(5), int64(2), object(6)
memory usage: 696.9+ KB

In [4]:
# check the statistics of the data
data.describe(include="all")

,question_id,question_owner_user_id,question_owner_location,question_title,question_body,question_created_date,question_score,question_tag,answer_id,answerer_user_id,answer_created_date,answer_score,answer_comment_count,is_accepted_answer
count,6.795000e+03,6.761000e+03,2770,6795,6795,6795,6795.000000,6795,6.393000e+03,6.385000e+03,6393,6393.000000,6393.000000,6795
unique,NaN,NaN,478,4597,4597,4597,NaN,3,NaN,NaN,6393,NaN,NaN,2
top,NaN,NaN,"San Francisco, CA, United States",Setting GOOGLE_APPLICATION_CREDENTIALS for Big...,<p>I'm trying to connect to Google BigQuery th...,2016-02-02 17:26:59.407000 UTC,NaN,bq,NaN,NaN,2015-01-05 20:30:31.057000 UTC,NaN,NaN,False
freq,NaN,NaN,82,15,15,15,NaN,6600,NaN,NaN,1,NaN,NaN,4088
mean,3.968053e+07,4.159195e+06,NaN,NaN,NaN,NaN,3.128477,NaN,4.221188e+07,3.987739e+06,NaN,2.697794,1.291412,NaN
std,5.535645e+06,2.513039e+06,NaN,NaN,NaN,NaN,6.916284,NaN,8.601282e+06,2.825050e+06,NaN,6.300766,2.075850,NaN
min,2.773346e+07,1.109000e+03,NaN,NaN,NaN,NaN,-6.000000,NaN,2.775128e+07,4.279000e+03,NaN,-8.000000,0.000000,NaN
25%,3.541621e+07,1.934510e+06,NaN,NaN,NaN,NaN,0.000000,NaN,3.665496e+07,1.366527e+06,NaN,0.000000,0.000000,NaN
50%,4.037780e+07,4.193886e+06,NaN,NaN,NaN,NaN,1.000000,NaN,4.170803e+07,4.490873e+06,NaN,1.000000,0.000000,NaN
75%,4.437723e+07,6.156032e+06,NaN,NaN,NaN,NaN,3.000000,NaN,4.593654e+07,5.221944e+06,NaN,3.000000,2.000000,NaN
max,4.803929e+07,9.140111e+06,NaN,NaN,NaN,NaN,104.000000,NaN,7.375586e+07,1.954279e+07,NaN,156.000000,21.000000,NaN

In [5]:
# check the null value existed from each row
data.isnull().sum()

question_id                   0
question_owner_user_id       34
question_owner_location    4025
question_title                0
question_body                 0
question_created_date         0
question_score                0
question_tag                  0
answer_id                   402
answerer_user_id            410
answer_created_date         402
answer_score                402
answer_comment_count        402
is_accepted_answer            0
dtype: int64

In [6]:
# check total row and column from the dataset
print(f'Data row        : {data.shape[0]}',
      f'Data columns    : {data.shape[1]}', sep='\n')

Data row        : 6795
Data columns    : 14

In [9]:
# check how much unique question id in the data
data['question_id'].nunique()

4597

In [39]:
# check how much unique user id in the data
data['question_owner_user_id'].nunique()

2337

In [38]:
# see the date question have been made for question with null value
pd.to_datetime(data[data['question_owner_user_id'].isnull()]['question_created_date']).dt.date

43      2015-01-17
44      2015-01-17
410     2015-05-01
884     2015-08-26
1632    2016-02-03
1662    2016-02-09
1663    2016-02-09
1664    2016-02-09
1900    2016-03-26
1901    2016-03-26
1902    2016-03-26
1905    2016-03-26
1906    2016-03-26
1907    2016-03-26
1908    2016-03-26
2603    2016-07-20
2797    2016-08-12
2963    2016-08-31
2964    2016-08-31
4625    2017-04-12
4783    2017-04-28
4784    2017-04-28
4797    2017-05-01
4852    2017-05-09
6249    2017-10-23
6337    2017-11-01
6338    2017-11-01
6339    2017-11-01
6412    2017-11-09
6497    2017-11-20
6599    2017-11-30
6687    2017-12-12
6688    2017-12-12
6689    2017-12-12
Name: question_created_date, dtype: object

In [35]:
# replace the null value from quetion_owner_location column into 'unknown'
data['question_owner_location'].replace(to_replace=np.NAN, value="unknown", inplace=True)
data['question_owner_location'].isnull().sum()

0

In [40]:
# check, when is the first question asked
data['question_created_date'].min()

'2015-01-01 18:31:22.693000 UTC'

In [41]:
# check, when is the latest question asked
data['question_created_date'].max()

'2017-12-31 01:39:02.950000 UTC'

In [42]:
# check the sum of unique value in question_score column
data['question_score'].nunique()

48

In [53]:
# check the sum of each value in question_score column
data['question_score'].value_counts()

question_score
 0      1960
 1      1692
 2       985
 3       614
 4       302
 5       212
 6       152
 7       104
 8        84
 10       83
 9        79
 11       72
-1        72
 16       33
 14       31
 12       30
 13       28
 15       27
 24       27
 19       19
-2        17
 21       16
 57       15
 41       14
 17       12
 20       12
 23       11
 18       11
 28       10
 61        8
 22        8
 30        6
 31        6
 98        5
 39        5
 34        4
 25        4
 32        4
 104       3
-3         3
 46        3
 26        2
 58        2
-5         2
 54        2
-6         2
 82        1
 51        1
Name: count, dtype: int64

In [54]:
# check the sum of each value from is_accepted_answer column
data['is_accepted_answer'].value_counts()

is_accepted_answer
False    4088
True     2707
Name: count, dtype: int64

In [63]:
# change the column type into Int64 (choosing this type because the column contain null value and it best suit for the column purpose)
data['question_owner_user_id'] = data['question_owner_user_id'].astype('Int64')
data['answer_id'] = data['answer_id'].astype('Int64')
data['answerer_user_id'] = data['answerer_user_id'].astype('Int64')
data['answer_score'] = data['answer_score'].astype('Int64')
data['answer_comment_count'] = data['answer_comment_count'].astype('Int64')

In [64]:
# check the column type
data.dtypes

question_id                 int64
question_owner_user_id      Int64
question_owner_location    object
question_title             object
question_body              object
question_created_date      object
question_score              int64
question_tag               object
answer_id                   Int64
answerer_user_id            Int64
answer_created_date        object
answer_score                Int64
answer_comment_count        Int64
is_accepted_answer           bool
dtype: object

# Answer the Question
Start answering the Use Case given

## Use Case 1 - Marketing by Topic
Marketing team have an OKR where they need to create lots of digital banner to attract people get into Stack Overflow. They have an idea to create topic-based marketing. The idea is to show how many relevant question there is in the platform to people's needs. They want to show example question asked int he platform and show how many questions have been asked int he platform so far.
<br><br>
Your manager asks you to create the metrics calculation as needed then show it into line chart where each tag (topic) has chart. A single line would represent year the question is asked. The trend should be on monthly basis.
<br><br>
**Metrics**: Unique questions per month per year
<br>
**Key notes**:
- Show example questions
- Show how many questions have been asked
- Create metrics unique questions per month per year
- Show the line chart of each tag (topic)

## Use Case 2 - Brand Ambassador Selection
Branding team wants to feature popular aswer writer in each tags for worldwide brand ambassador launch in Youtube. They want to have at least 10 top candidates in each tag.
<br><br>
Your manager asks you to ensures that the selected writers are only the one who got their accepted answer the most. They also never get minus score for an answer.
<br><br>
**Metrics**: Total accepted answer per answerer userid per tag
<br>
**Key notes**:
- Show top 10 answer writer in each tag (topic)
- Top answer writer are the one who have accepted answer the most & never get a minus score
- Create metrics total accepted answer per answerer userID per tag

## Use Case 3 - User Activity Segmentation
Product team wants to understand the different persona of their users based on number of question and answers they created
<br><br>
Your manager asks you to create segmentation using rule-based technique. The treshold determination should be based on average of total posts (question or answer) they created per year
<br><br>
Your manager also asks to create visualization of these segments based on year. The visualization should be a stacked-bar-chart where each chart represents a year, the stack will show different colors of segements for PM to understand the trend change in yearly basis
<br><br>

**Segment Details**
|Question created|Answere created|Persona name|
|:--------------:|:-------------:|:----------|
|hi|hi|Inquisitive Guru|
|hi|low|Curious Observer|
|low|hi|Knowledgeable Supporter|
|low|low|Silent Specator|


The threshold determination should be based on average of total posts (question or answer) they created per year. Threshold will be different for question and answer
<br><br>
**Metrics**: UserID count per segmentation per year
<br>
**Hint**: Every year, the threshold change
<br>
**Key notes**:
- Create segmentation using rule-based technique
- Threshold determination should be based on average of total post (question or answer) per year
    - Threshould will be different for question and answer
- Create visualization of the segmentation based on year
    - The visualization should be stacked-bar-chart
    - Each chart represents a year
    - Too show the  trend change in yearly basis